# Publish all joint states
joint_state_controller:
  type: "joint_state_controller/JointStateController"
  publish_rate: 100

arm_controller:
  type: "position_controllers/JointTrajectoryController"
  publish_rate: 100
  joints:
    - crane_x7_shoulder_fixed_part_pan_joint
    - crane_x7_shoulder_revolute_part_tilt_joint
    - crane_x7_upper_arm_revolute_part_twist_joint
    - crane_x7_upper_arm_revolute_part_rotate_joint
    - crane_x7_lower_arm_fixed_part_joint
    - crane_x7_lower_arm_revolute_part_joint
    - crane_x7_wrist_joint
  constraints:
    goal_time: 0.0
    stopped_velocity_tolerance: 1.0

gripper_controller:
  type: "position_controllers/GripperActionController"
  action_ns: gripper_cmd
  publish_rate: 100
  joint: crane_x7_gripper_finger_a_joint
  action_monitor_rate: 50
  state_publish_rate:  100
  stalled_velocity_threshold: 0.01
  goal_tolerance: 0.2
  stall_timeout: 0.3

  # for effort_controllers
  gains:
    crane_x7_gripper_finger_a_joint: { p: 100.0, d: 0.0, i: 0.0 }

