<?xml version="1.0"?>
<launch>
  <env name="GAZEBO_MODEL_PATH" value="$(find crane_x7_description):$(find crane_x7_gazebo)/models:$(find crane_x7_gazebo)"/>
  <env name="gazebo_media_path" value="${find crane_x7_gazebo}"/>

  <!-- <arg name="model" default="$(find sciurus17_gazebo)/models/sciurus17/sciurus17.sdf"/>                                          -->
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>

  <!-- <param name="/sciurus17/robot_description" textfile="$(arg model)" />            -->
  <!-- <include file="$(find sciurus17_control)/launch/sciurus17_fake_control.launch"/> -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find crane_x7_gazebo)/worlds/table.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- <include file="$(find sciurus17_moveit_config)/launch/sciurus17_planning.launch"> -->
  <!--   <arg name="use_gazebo" value="true"/>                                           -->
  <!-- </include>                                                                        -->

</launch>
