<launch>
  <group ns="/crane_x7">
    <rosparam file="$(find crane_x7_control)/config/crane_x7_fake_control.yaml" command="load"/>

    <node name="controller_manager"
        pkg="controller_manager"
        type="spawner" 
        respawn="false"
        output="screen"
        args="joint_state_controller
              arm_controller
              gripper_controller"/>
  </group>

  <rosparam file="$(find crane_x7_control)/config/crane_x7_gazebo_control.yaml" command="load" />
  <node name="controller_gazebo" 
    pkg="controller_manager" 
    type="spawner" 
    respawn="false" 
    output="screen"
    args="gazebo_ros_control" />

</launch>
